@use "../base/variables" as *;

.mini-chart {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  
  @media (min-width: $breakpoint-md) {
    width: 120px;
    height: 40px;
  }

  @media (max-width: $breakpoint-sm) {
    width: 100%;
    justify-content: flex-end;
  }
  
  .mini-chart-positive {
    stroke: $color-success;
  }
  
  .mini-chart-negative {
    stroke: $color-danger;
  }
}

.chart-container {
  width: 100%;
  height: 250px;
  margin-top: $spacing-lg;
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.no-chart {
  width: 100%;
  text-align: center;
}